<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>596120869120-2bj788qithm2aqpvc20abq1rcg66l7tq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.596120869120-2bj788qithm2aqpvc20abq1rcg66l7tq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>596120869120-u22ntimqd3av2aagi0u703tter17ii0g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDSq5pb10RU3mpwgVt3MFfKehqbZyy8m0o</string>
	<key>GCM_SENDER_ID</key>
	<string>596120869120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.langa</string>
	<key>PROJECT_ID</key>
	<string>louis030195-256110</string>
	<key>STORAGE_BUCKET</key>
	<string>louis030195-256110.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:596120869120:ios:fc894b909252f81d687be5</string>
</dict>
</plist>