<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(APP_DISPLAY_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(APP_DISPLAY_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb3351161798318077</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.388264600961-6amsmva8lu3p7ro1nrd6f2lifp0aahua</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FacebookAppID</key>
	<string>3351161798318077</string>
	<key>FacebookDisplayName</key>
	<string>$(APP_DISPLAY_NAME)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>https://help.langa.me</string>
		<string>https://langa.me</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>We need some of your contact information to help others recognize you</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>We need some of your contact information to help others recognize you</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>We need some of your contact information to help others recognize you</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_dartobservatory._tcp</string>
	</array>
	<key>NSCalendarsUsageDescription</key>
	<string>We need some of your contact information to help others recognize you</string>
	<key>NSCameraUsageDescription</key>
	<string>We need some of your contact information to help others recognize you</string>
	<key>NSContactsUsageDescription</key>
	<string>We need some of your contact information to help others recognize you</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need some of your contact information to help others recognize you</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need your microphone to talk to others</string>
	<key>NSMotionUsageDescription</key>
	<string>We need some of your contact information to help others recognize you</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>We use speech recognition to improve user experience</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>FirebaseDynamicLinksCustomDomains</key>
	<array>
		<string>https://langa.me/join</string>
		<string>https://langamedev.page.link</string>
	</array>
</dict>
</plist>
